<main id="app--imc">
  <div class="container">
    <figure>
      <img src="../favicon.ico" class="App-logo" alt="react logo" />
    </figure>
    <h1>IMC</h1>
    <h2>Angular</h2>
    <div class="wrapper">
      <div class="input__group">
        <input
          type="number"
          min="0"
          step="1"
          [(ngModel)]="kilos"
          (change)="changeHandler()"
        />
        <label>Kilos</label>
      </div>
      <div class="input__group">
        <input
          type="number"
          min="0"
          step="0.01"
          [(ngModel)]="metros"
          (change)="changeHandler()"
        />
        <label>Metros</label>
      </div>
      <div class="result">
        <app-result
          *ngIf="type.isCalculated"
          [type]="type.type"
          [value]="type.value"
          [obesity]="type.obesity"
        ></app-result>
        <p *ngIf="!type.isCalculated" class="waiting">
          Aguardando preenchimento de dados
        </p>
      </div>
    </div>
  </div>
</main>
